{% extends '_base.html' %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/main.min.css' rel='stylesheet'/>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/main.min.js'></script>
        <title>رزرو نوبت طلا سازی</title>
    </head>
{% endblock head %}
{% block content %}
    <style>
            #calendar {
                width: 100%; /* عرض تقویم */
                height: 70%; /* ارتفاع تقویم */
                margin: 0 auto; /* برای وسط‌چین کردن */
            }

            .fc { /* کلاس اصلی FullCalendar */
                font-size: 14px; /* اندازه فونت */
            }

            .fc-daygrid-day { /* هر روز تقویم */
                height: 6%; /* ارتفاع هر روز */
            }
        </style>
    <div class="hero-content">
        <body>
        <h1>تقویم رزرو</h1>
        <div id='calendar'></div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',  // نمایش ماهانه
                    events: '{% url 'reservation_api' %}',  // گرفتن داده‌ها از API
                    eventColor: 'red',  // رنگ قرمز برای رزروها
                    locale: 'fa',  // زبان فارسی
                    direction: 'rtl',  // راست به چپ
                    // تنظیمات اضافی برای نمایش بهتر
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    buttonText: {  // فارسی کردن دکمه‌ها
                        today: 'امروز',
                        month: 'ماه',
                        week: 'هفته',
                        day: 'روز'
                    },
                    // فارسی کردن نام روزها (اختیاری)
                    dayHeaderFormat: {weekday: 'long'}  // نمایش کامل نام روزها
                });
                calendar.render();
            });
        </script>
        </body>
    </div>
{% endblock %}